
#currencyMenu{
    background-color: rgb(120, 235, 120);
    width: 5cm;
    height: 1cm;
    padding-left: 10px;
    align-content: center;
    border-radius: 10px;
    border: 1px solid black;
}

#currency{
    background-color: rgb(120, 235, 120);
    
    border: none;
}

#currency::selection{
    border: 1px solid black;
}

#increaseButton {
    background-color: #44c767;
    border-radius: 50%; /* to make it circular */
    border: 2px solid #18ab29;
    display: inline-flex; /* use flex for easier centering */
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 0; /* removed padding to make it truly circular */
    text-decoration: none;
    width: 40px; /* adjusted size */
    height: 40px; /* adjusted size */
  }

  #decreaseButton {
    background-color: rgb(196, 2, 2);
    border-radius: 50%; /* to make it circular */
    border: 2px solid rgb(196, 2, 2);
    display: inline-flex; /* use flex for easier centering */
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 0; /* removed padding to make it truly circular */
    text-decoration: none;
    width: 40px; /* adjusted size */
    height: 40px; /* adjusted size */
  }
 